<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Opções</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-padding">
    <ion-col>
      <ion-button routerLink="/settings/arenas-wosopp/form-arena" expand="block" size="large">
        <ion-icon slot="start" name="golf"></ion-icon>
        ARENA WOSOPP
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
